<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> <meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Information</title>
</head>

    <nav class="navigation">
      <a href="/" class="title">Trading Simulator</a>
      <input class="menuBtn" type="checkBox" id="menuBtn"/>
      <label class="menuIcon" for="menuBtn"><span class="navgationicon"></span></label>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/info">Information</a></li>
      </ul>
    </nav>


<body>

<div id="container">
  <div id="label"> <h1>Information</h1></div>
      
    <h5 class='text-center'> Created with Python. </h5>
    <h5 class='text-center' id='info_text'> by Edison Iver M. Botor<br><br>Student Number: n10792228<br>
        edison.botor@connect.qut.edu.au</h5>
    <div class='row justify-content-center'>
        <div class='col-auto'>
    <a href="/" class="btn btn-primary" id='homebutton'>Back to home</a>
</div>
</div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</body>
</html>
